name: Scrape Ausport and update Sheet

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run scraper
        run: npm start

      - name: Commit CSV if exists & changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          # Skip kalau file tidak ada
          if [ ! -f live_sports.csv ]; then
            echo "CSV file not generated, skip commit."
            exit 0
          fi

          # Skip kalau tidak berubah
          if git diff --quiet --exit-code live_sports.csv; then
            echo "No changes found in CSV"
            exit 0
          fi

          git add live_sports.csv
          git commit -m "Update live_sports.csv"
          git push
