      - name: Commit CSV
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          
          if [ ! -f live_sports.csv ]; then
            echo "CSV not found, creating new file"
            git add live_sports.csv
            git commit -m "Add live_sports.csv"
            git push
            exit 0
          fi
          
          if git diff --quiet --exit-code live_sports.csv; then
            echo "No changes found in CSV"
            exit 0
          fi
          
          git add live_sports.csv
          git commit -m "Update live_sports.csv"
          git push
